<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title></title>
  
  
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
  <link rel="stylesheet" href="/stylesheets/main.css"/>
 
  
</head>
<body> 
  <nav class="navbar">
    <a href="/clucks">
    <img class = emoji src="/images/chicken.png" alt="chicken icon" />
    </a>
    <button class="btn" type="button">
        <a class="btn btn-danger" href="/clucks/new">Cluck!</a>
        </button>
    
    <% if (username) { %>
      <span class="navbar-text" id="username">
       <%= username %>
      </span>
      <form action="/sign_out" method="POST">
        <input type="submit" class="btn btn-danger" value="Sign Out" />
      </form>
    <% } else { %>
      <button class="btn" type="button">
        <a class="nav-link" href="/sign_in">Sign In</a>
        </button>
    <% } %>

  </nav>
  
